*.pyc
*.csv
*.jpg
*.png
*.pth
*.log
*.xlsm
play*
*.whl
*.zip
*.tar.gz
*.json
*.pyth
*.yaml
.vscode/
.vscode/*
output/*
output/
.idea/*
.idea/
tmp/*
tmp/
.ipynb_checkpoints/*
*.pyth
*.yaml
.vscode/
.vscode/*
output/*
output/
.idea/*
.idea/
tmp/*
tmp/
.ipynb_checkpoints/*
output_runs/*
output_runs/
/mnt/DSFNet_MTICI/wandb/*
wandb/*
wandb/
wandb/latest-run/files/conda-environment.yaml
*.yaml
DSFNet_MTICI/wandb/*
output_runs/
/mnt/DSFNet_MTICI/wandb/*
wandb/*
wandb/
wandb/latest-run/files/conda-environment.yaml
*.pyth
*.txt
wandb/latest-run/files/config.yaml
*.mdb
*.prof
*.dcm
*play*
*pyc*
slurm*
single_submit_files/*
dual_submit_files/*
*.pkl